/nbproject/*
*.txt
/app/*
/downloader/*
/errors/*
/includes/*
/js/*
/lib/*
/magentoprueba/*
/media/*
/nbproject/*
/pkginfo/*
/shell/*
/skin/*
/var/*
.htaccess*
cron.*
*.rar
*.ico
*.csv
index.*
install.php
LICENSE.*
pear
php.ini.sample
*.jpg
*.gif
*.png
*.csv
*.zip


/downloader/pearlib/php/.channels/